
@{
    Layout =
 "~/Views/Shared/_Layout.cshtml"  ;
}


    <div> 
        <form method="post" action=""></form>
        <input type="hidden" value="@ViewBag.PhoneId" name="PhonesId" />
        <table>
             <tr>
                 <td>Введите ваше имя</td>
                 <td>Ваш адрес</td>


             </tr>
            <tr>
                <td><input type="text" </td>
                <td><input type="text"</td>
                
            </tr>
        </table>
        <input type="submit" name="Подтвердить"
    </div>


